:root {
  --green: #008d77;
  --gold: #f6bc1c;
  --lightBlack: #393939;

  --transparent_orange: rgba(113, 30, 0, 0.3);
  --appBlack: #131313;
  --appBlackTransparent: rgba(19, 19, 19, 0.3);
}

::selection {
  background-color: orangered;
  color: white;
}

body {
  background: url(/images/design/green-pattern.png);
  min-height: 200vh;
}

.page-container {
  height: 100vh;
  width: 100vw;
}

.slider-wrapper {
  position: relative;
  width: 98vw;
  height: 98vh;
  margin: auto;
  margin-top: 1vh;
  overflow: hidden;
  border-radius: 8px;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.slider .list {
  left: 0px;
  position: absolute;
  width: fit-content;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  transition: all 0.75s;
}

.slide img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: start;
  object-position: center;
}

.nav-arrows {
  position: absolute;
  z-index: 5;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 1vw;
  right: 1vw;
  display: flex;
  justify-content: space-between;
}

.nav-arrows i {
  background-color: rgba(255, 255, 255, 0.2);
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  align-content: center;
  border-radius: 50%;
}

.nav-arrows i:hover {
  background-color: var(--green);
}

.dots {
  position: absolute;
  bottom: 2vh;
  z-index: 5;
  display: flex;
  gap: 6px;
  list-style-type: none;
  left: 50%;
  transform: translateX(-50%);
}

.dots li {
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.75s;
}

.dots li.active {
  width: 28px;
  background-color: var(--green);
}

.dots li:hover:not(.active) {
  background-color: var(--gold);
}


/* About Us */
.about-us {
  width: 98vw;
  margin: 24px auto;
  background-color: white;
  border-radius: 12px;
  padding: 0 6% 5% 6%;
}

.about-us .content {
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  gap: 24px;
}

.about-us .info {
  margin: auto 20px;
  width: 45%;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #474747;
  font-family: "Open Sans", serif;
}

#about-main p {
  margin-top: 12px;
  margin-bottom: 24px;
}

.about-us h6.about-type {
  font-weight:600;
  font-size: 1.25rem;
  color: var(--green);
}

.about-section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 0px 16px;
  margin-bottom: 12px;
}

.about-section.active p {
  max-height: 300px;
  padding-bottom: 24px;
}

.about-section .header {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  padding: 16px 0px;
  justify-content: space-between;
}

.about-section .header i {
  font-size: 1rem;
  background-color: white;
  width: 35px;
  height: 35px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  border: 2px var(--green) solid;
  color: var(--green);
  /* color: white; */
}

.about-section.active .header i {
  background-color: var(--green);
  color: white;
  border: 0px;
}

.about-section p {
  overflow: hidden;
  transition: all 1s;
  /* transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); */
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  max-height: 0px;
}

.about-us img {
  width: 46%;
  height: fit-content;
  aspect-ratio: 1;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}


/* About Us ~ Responsive */
@media screen and (max-width:600px) {
  .about-us {
    padding-bottom: 8%;
  }

  .about-us .content {
    margin-top: 26px;
    flex-direction: column-reverse; 
    height: fit-content;
  }

  .about-us .info {
    width: 100%;
  }

  #about-main {
    margin-top: 12px;
  }

  #about-main p {
    margin-top: 4px;
    margin-bottom: 30px;
  }

  .about-us img {
    width: 100%;
  }
}






/* Campuses */
.campuses {
  width: 98vw;
  height: 95vh;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.title {
  padding-top: 32px;
  text-align: center;
  color: var(--green);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Advent Pro", sans-serif;
}

.campuses p {
  width: 60%;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  margin-top: 12px;
  color: #393939;
}

.campus-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.campus {
  position: relative;
  border-radius: 12px;
  width: 32.5vw;
  height: fit-content;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.campus-image {
  position: relative;
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  overflow: hidden;
}

.campus-image::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.campus-image img {
  width: 100%;
  display: block;
  /* height: 100%; */
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.campus-image p {
  position: absolute;
  bottom: 16px;
  font-weight: 700;
  left: 50%;
  font-size: 1.45rem;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  transition: all 1s;
  opacity: 1;
}

.campus:hover .campus-image p , /* For Laptop */
.campus.active .campus-image p { /* For Mobile */
  opacity: 0;
}

.campus .body {
  display: flex;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top;
  height: auto;
  overflow: hidden;
  max-height: 0px;
  color: white;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  transition: all 1.25s 0s;
}

.campus:hover .body, .campus.active .body {
  transform: scaleY(1);
  opacity: 1;
  max-height: 200px;
}

.campus .body h3 {
  margin-top: 12px;
  font-size: 1.3rem;
  color: var(--green);
}

.campus .body p {
  color: black;
  text-align: center;
  margin: 4px 12px 28px 12px;
  font-size: 1rem;
  max-width: 30vw;
}

/* Campuses: Responsive */
@media screen and (max-width: 600px) {
  .campuses {
    height: fit-content;
    padding-bottom: 32px;
  }


  .title {
    font-size: 1.4rem;
  }

  .campuses p {
    width: 80%;
    font-size: 0.95rem;
  }

  .campus-container {
    width: 95%;
    flex-direction: column;
    gap: 20px;
  }

  .campus {
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background-color: white;
    height: 40vh;
    width: 100%;
  }

  .campus .campus-image {
    height: 100%;
    width: 100%;
    transition: all 1s;
  }

  .campus:hover .campus-image,  .campus.active .campus-image {
    width: 60vw;
    transition: all 1s;
  }

  .campus-image img {
    width: 100%;
    height: 100%;
  }

  .campus-image p {
    font-size: 0.95rem;
    bottom: 8px;
  }

  .campus .body {
    position: absolute;
    right: 0;
    opacity: 0;
    max-height: fit-content;
    justify-content: center;
  }

  /* Change :hover to .active */
.campus:hover .body, .campus.active .body {
    opacity: 1;
    transition: all 1.5s 0.25s;
  }

  /* .campus:not(.active) .body, .campus:not(:hover) .body {
    transition: all 0.5s;
  } */

  .campus .body p {
    font-size: 0.95rem;
    margin: 4px 4px;
  }
}

/* Testimonials */
#testimonials {
  width: 98vw;
  margin: auto;
  margin-top: 16px;
  padding-bottom: 24px;
  border-radius: 12px;
  background-color: white;
}

#testimonials .mini-header {
  text-align: center;
  margin: auto;
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 700;
  width: 30%;
}

.testi-container {
  margin: 30px auto;
  display: flex;
  width: 80%;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
}

.testi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  cursor: pointer;
  padding: 28px 24px;
  border-radius: 12px;
  transition: all 1s;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.testi:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
}

.testi .profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.testi .username {
  font-weight: 600;
  margin-top: 20px;
  font-size: 1.25rem;
  font-family: "Advent Pro";
}

.testi .role {
  color: var(--green);
  margin-top: 4px;
  font-size: 1.1rem;
  font-weight: 800;
  font-family: "Iceberg", sans-serif;
}

.testi .message {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 0.9rem;
  font-family: "Poppins";
  color: rgb(100, 100, 100);
}

.testi .quote {
  margin-top: 26px;
  height: 16px;
}

@media screen and (max-width: 600px) {
  #testimonials .mini-header {
    width: 80%;
  }

  .testi-container {
    flex-direction: column;
    width: 90%;
  }

  .testi {
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 30px 6px;
  }

  .testi .profile-pic {
    width: 65px;
    height: 65px;
  }

  .testi .role {
    margin-top: 2px;
    font-size: 1rem;
  }

  .testi .message {
    font-size: 0.95rem;
    width: 90%;
    line-height: 1.1 rem;
  }
}




.contacts {
  border-radius: 8px;
  width: 98vw !important;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 24px;
}