:root {
  --green: #008d77;
  --gold: #f6bc1c;
  --textGrey: #3e484e;
  --blue: #0b86b6;
}

.page-intro {
  height: 65vh;
  width: 100vw;
}

.page-intro img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-campus {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 48px;
  padding-bottom: 40px;
  justify-content: center;
  gap: 5%;
  flex-grow: 0;
  flex-shrink: 0;
}

.about-campus .header {
  max-width: 20%;
}

.about-campus .header h6 {
  font-size: 2rem;
  font-family: "Iceberg";
  font-weight: 500;
  color: var(--green);
}

.about-campus .header p {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 20px;
}

.about-campus .header ul {
  width: 80%;
  margin-top: 32px;
  list-style-type: none;
}

.about-campus .header ul li {
  background-color: white;
  border-radius: 8px;
  border: 2px var(--green) solid;
  text-align: center;
  padding: 12px;
  color: black;
  cursor: pointer;
  font-weight: 500;
}

.about-campus .header ul li:hover {
  background-color: var(--green);
  color: white;
}

.about-campus .content {
  max-width: 60%;
}

.about-campus .content p {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--textGrey);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 600px) {
  .about-campus {
    flex-direction: column;
    width: 90%;
    gap: 30px;
  }

  .about-campus .header {
    max-width: 80%;
    margin: auto;
    text-align: center;
  }

  .about-campus .header p {
    margin-top: 8px;
  }

  .about-campus .header ul {
    margin: 24px auto 0px auto;
  }

  .about-campus .content {
    margin-top: 14px;
    max-width: 100%;
  }
}

/* 











*/
.category {
  /* position: relative; */
  width: 75%;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 16px;
  padding-right: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 3%;
}

.category .slider {
  flex-basis: 25%;
}

.category .slider ul {
  list-style-type: none;
  margin: 20px 16px;
  gap: 10px;
}

.category .slider ul li {
  color: var(--green);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 0px;
  text-align: center;
  border-radius: 24px;
  cursor: pointer;
}

.category .slider ul li:not(:last-child) {
  margin-bottom: 8px;
}

.category .slider ul li:hover {
  color: var(--blue);
}

.category .slider ul li.active {
  background-color: var(--green);
  transition: all 0.75s;
  color: white;
}

.category .content {
  flex-basis: 70%;
  margin-top: 16px;
  margin-bottom: 60px;
}

.each-category {
  display: none;
  width: 95%;
}

.each-category.active {
  display: block;
}

.each-category img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center top;
  border-radius: 8px;
}

.each-category p {
  width: 100%;
  margin-top: 16px;
  font-family: "Open Sans";
  font-size: 1.1rem;
  color: var(--textGrey);
}

@media screen and (max-width: 600px) {
  .category {
    width: 90%;
    padding-top: 0px;
    flex-direction: column;
  }

  .category .slider {
    flex-basis: auto;
  }

  .category .slider ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .category .slider ul li {
    position: relative;
    color: var(--textGrey);
  }

  .category .slider ul li.active {
    color: var(--green);
    background-color: white;
  }

  .category .slider ul li.active::before {
    position: absolute;
    content: "";
    width: 60%;
    margin: auto;
    height: 3px;
    border-radius: 4px;
    background-color: var(--green);
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .category .content {
    margin-top: 0px;
  }

  .each-category {
    width: 90%;
    margin: auto;
  }

  .each-category p {
    margin-top: 20px;
  }
}


.contacts {
    margin-top: 50px;
}